<div class="container-fluid grid grid-top">
  <div class="row mt-m" *ngIf="readytoshow">
    <div class="col-6">
      <span class="title-name">Organisation name :</span>
      <span class="valeur-name">{{allQDet.usr.org}}</span>
    </div>
    <div class="col-6">
      <span class="title-name">Country :</span>
      <span class="valeur-name">{{allQDet.usr.orgAddr}}</span>
    </div>
    <div class="col-6">
      <span class="title-name">First name :</span>
      <span class="valeur-name">{{allQDet.usr.firstname}}</span>
    </div>
    <div class="col-6">
      <span class="title-name">Last name :</span>
      <span class="valeur-name">{{allQDet.usr.lastname}}</span>
    </div>

    <div class="col-6">
      <span class="title-name">Date :</span>
      <span class="valeur-name">{{allQDet.date}}</span>
    </div>
    <div class="col-6">
      <span class="title-name">Hour :</span>
      <span class="valeur-name">{{allQDet.hour}}</span>
    </div>

  </div>
  <div class="mt-4" *ngIf="readytoshow">
    <span class="title-name ptn">Questions Details:</span>
    <br>
    <div [innerHtml]="allQDet.question_content" class="mb-2 mt-2 question-data">
    </div>
    <div class="respDATA valeur-name vn">
      <span class="title-name" *ngIf="responseIN.length > 0 && allQDet.myQst">Answer</span>
      <span class="title-name" *ngIf="responseIN.length > 0 && !allQDet.myQst">My answer</span>
      <div class="rvn mb-2" *ngFor="let item of responseIN">
        <div>
          <span class="hour-name">{{item.user.firstname+ ' '+ item.user.lastname}} </span> -
          <span class="date-r">{{timeStrng(item.rDate)}} </span>
        </div>
        <div [innerHtml]="item.respText"></div>
      </div>
    </div>
    <form [formGroup]='responseForm' (ngSubmit)="saveResponse()">
      <!-- if myquestions:  -->
      <ng-template [ngIf]="allQDet.myQst">
        <ng-template [ngIf]="responseIN.length > 0">
          <div *ngIf="allQDet.stateAdmin === 'active'" class="ml-3">
            <ckeditor name="responseData" formControlName="respValue" [config]="g.getConfig('conf0_editor')" [readonly]="false" debounce="100"></ckeditor>
          </div>
          <div class="text-right">
            <button *ngIf="allQDet.stateAdmin === 'active'" [ngClass]="{disabled: !responseForm.valid}" type="submit" class="btn btn-primary btn-lg btn-squestion"
              role="button">
              <span>Send the answer</span>
              <i class="fa fa-save"></i>
            </button>
            <a *ngIf="allQDet.stateAdmin === 'active'" (click)="archivequestions()" class="btn btn-primary btn-lg btn-question" role="button">
              <span>delete</span>
              <i class="fa fa-remove"></i>
            </a>
            <a (click)="closeAction()" class="btn btn-primary btn-lg btn-apply" role="button">
              <span>Close</span>
              <i class="fa fa-check"></i>
            </a>
          </div>
        </ng-template>
        <ng-template [ngIf]="responseIN.length == 0">
          <div class="text-right">
            <a (click)="closeAction()" class="btn btn-primary btn-lg btn-apply" role="button">
              <span>Close</span>
              <i class="fa fa-check"></i>
            </a>
          </div>
        </ng-template>
      </ng-template>
      <!-- if not my questions -->
      <ng-template [ngIf]="!allQDet.myQst">
        <div *ngIf="allQDet.stateAdmin === 'active'" class="ml-3">
          <ckeditor name="responseData" formControlName="respValue" [config]="g.getConfig('conf0_editor')" [readonly]="false" debounce="100"></ckeditor>
        </div>
        <div class="text-right">
          <button *ngIf="allQDet.stateAdmin === 'active'" [ngClass]="{disabled: !responseForm.valid}" type="submit" class="btn btn-primary btn-lg btn-squestion"
            role="button">
            <span>Send the answer</span>
            <i class="fa fa-save"></i>
          </button>
          <a *ngIf="allQDet.stateAdmin === 'active'" (click)="archivequestions()" class="btn btn-primary btn-lg btn-question" role="button">
            <span>delete</span>
            <i class="fa fa-remove"></i>
          </a>
          <a (click)="closeAction()" class="btn btn-primary btn-lg btn-apply" role="button">
            <span>Close</span>
            <i class="fa fa-check"></i>
          </a>
        </div>
      </ng-template>

    </form>
  </div>
</div>
