.deal-app-container {
  padding-top: 10px;
}
.deal-app-container .deal-app-head {
  width: 100%;
  padding: 22px;
  padding-bottom: 0px;
  background-color: #393f4b;
  margin-bottom: 35px;
  margin-top: 5px;
}
.deal-app-container .deal-app-head h2 {
  font-size: 16px;
  color: white;
  font-family: SourceSansPro-Semibold;
  padding-bottom: 8px;
}
.deal-app-container .deal-app-head table {
  width: 100%;
}
.deal-app-container .deal-app-head table tr td h4 {
  color: #8e98a6;
  font-size: 14px;
  font-family: SourceSansPro-Semibold;
  margin-left: 10px;
}
.deal-app-container .deal-app-head table tr td img {
  float: left;
  margin-right: 10px;
}
.deal-app-container .deal-app-head table tr td p {
  color: #FFFFFF;
  font-size: 14px;
  font-family: SourceSansPro-Regular;
  margin-top: -5px;
  max-width: 205px;
}
.m1{
  left: 24px;
  position: relative;
}
.m2{
  left: 21px;
  position: relative;
}
.deal-app-container .deal-app-head table tr td{
  width: 25%;
}

.deal-app-container .deal-dd h3 {
  font-size: 16px;
  font-family: SourceSansPro-Semibold;
}
.deal-app-container .deal-dd p {
  color: #393f4bab;
  font-size: 14px;
  font-family: SourceSansPro-Semibold;
  line-height: 12px;
}
.deal-app-container .deal-dd{
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 15px;
}


