.label-text{
label{
    text-transform: uppercase;
    font-size: 14px;
    font-family: SourceSansPro-Semibold;
    color: #606060;
    letter-spacing: 0.3px;
	}
}
.dsp-g{
	display:grid;
	select{
		width: 240px;
    	padding: 7px;
	}
}