<!--========== HEADER ==========-->
<header class="header navbar-fixed-top">
  <!-- Navbar -->
  <navbar-capital></navbar-capital>
  <!-- Navbar -->
</header>
<!--========== END HEADER ==========-->

<!--========== SLIDER ==========-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="container">
    <!-- Indicators -->
    <ol class="carousel-indicators" style="height: 0px !important;">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active" style="height: 0px !important;"></li>
    </ol>
  </div>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="img-responsive" src="{{g.base_href}}assets/img/banner01.png" alt="Slider Image">
      <div class="container">
        <div class="row  col-lg-11 carousel-centered">
          <!-- <div class="col-6" style="margin-left:-67px;">
                            <div class="margin-b-40">
                            <h1 class="carousel-title">Banque d'affaires</h1>
                            <p class="textTitle">Meet the future</p>
                            <p class="textTitle">Plateforme d'open innovation</p>
                        </div>
                            <a href="#" class="btn-theme btn-theme-sm btn-red-brd">S'inscrire</a>                                                       
                        </div> -->
          <div class="col-md-6 col-sm-6 stats-item">
            <div class="margin-b-40">
              <h1 class="carousel-title">Banque d'affaires</h1>
              <p class="textTitle">Meet the future</p>
              <p class="textTitle">Plateforme d'open innovation</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 stats-item">
            <div class="card-block">
              <div class="row">
                <div class="col-lg-12 col-xl-12">
                  <div class="sub-title"></div>
                  <app-tabs></app-tabs>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--========== SLIDER ==========-->

<!--========== PAGE LAYOUT ==========-->
<!-- Service -->
<div class="bg-color-sky-light" data-auto-height="true">
  <div class="content-lg container">
    <h1 style="text-align: center; font-size: 30px">
      <span class="numberCircle">4</span> types de collaboration proposés par la plateforme</h1>
    <div class="row row-space-1 margin-b-2">
      <div class="col-md-3 col-sm-6 stats-item">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
          <div class="service" data-height="height">
            <div class="service-element">
              <img src="{{g.base_href}}assets/img/ccaecouteactive-8.png" class="center">
            </div>
            <br/>
            <div class="service-info">
              <h3 style="margin-left: 9%; color: #e63636">SUGGESTIONS</h3>
              <p class="margin-b-5" style="text-align: center;">Liste des thématiques sur lesquelles vous souhaitez recevoir et étudier des innovations.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 stats-item">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
          <div class="service" data-height="height">
            <div class="service-element">
              <img src="{{g.base_href}}assets/img/ccaprojet-8.png" class="center">
            </div>
            <br/>
            <div class="service-info">
              <h3 style="margin-left: 28%;color: #e63636">PROJET</h3>
              <p class="margin-b-5" style="text-align: center;">Publication des caractéristiques de la problématique à résoudre.</p>
            </div>
            <div style="height: 20px;"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 stats-item">
        <div>
          <div class="service" data-height="height">
            <div class="service-element">
              <!-- <i class="service-icon icon-badge"></i> -->
              <img src="{{g.base_href}}assets/img/ccaincubation-8.png" class="center">
            </div>
            <br/>
            <div class="service-info">
              <h3 style="margin-left: 16%;color: #e63636">INCUBATION</h3>
              <p class="margin-b-5" style="text-align: center;">Description des thématiques de recrutement de startups pour l’incubateur.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 stats-item">
        <div>
          <div class="service" data-height="height">
            <div class="service-element">
              <!-- <i class="service-icon icon-badge"></i> -->
              <img src="{{g.base_href}}assets/img/ccainvestissement-8.png" class="center">
            </div>
            <br/>
            <div class="service-info">
              <h3 style="margin-left: 9%;color: #e63636">INVESTISSEMENT</h3>
              <p class="margin-b-5" style="text-align: center;">Liste des critères et modalités d’investissements dans des projets innovants.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--// end row -->

    <h1 class="border">PROCESSUS OPÉRATIONNELS AUTOMATISÉS PAR LA PLATEFORME</h1>
    <div class="row row-space-1">
      <div class="col-md-3 col-sm-6 stats-item">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".4s">
          <div class="service" data-height="height">
            <div class="service-element">
            </div>
            <div class="service-info">
              <p class="margin-b-5">
                Startups et laboratoires identifient vos principaux enjeux pour faire des suggestions.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 stats-item">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".5s">
          <div class="service" data-height="height">
            <div class="service-element">
            </div>
            <div class="service-info">
              <p class="margin-b-5">Le projet est diffusé aux communautés innovantes concernées par la thématique.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 stats-item">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".6s">
          <div class="service" data-height="height">
            <div class="service-element">
            </div>
            <div class="service-info">
              <p class="margin-b-5">Les porteurs de projets innovants identifient vos modalités d’incubation avant de postuler.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 stats-item">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".6s">
          <div class="service" data-height="height">
            <div class="service-element">
            </div>
            <div class="service-info">
              <p class="margin-b-5">Les porteurs de projets sont informés de vos propositions d’investissements.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1 class="border">LISTES DES BÉNÉFICES GÉNÉRÉS</h1>
    <div class="row row-space-1">
      <div class="col-md-3 col-sm-6 stats-item">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".4s">
          <div class="service" data-height="height">
            <div class="service-element">
            </div>
            <div class="service-info">
              <p class="margin-b-5">
                Réception d’innovations adjacentes.

              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 stats-item">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".5s">
          <div class="service" data-height="height">
            <div class="service-element">
            </div>
            <div class="service-info">
              <p class="margin-b-5">Réception de candidatures détaillées.

              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 stats-item">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".6s">
          <div class="service" data-height="height">
            <div class="service-element">
            </div>
            <div class="service-info">
              <p class="margin-b-5">Réception régulière de postulants.

              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 stats-item">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".6s">
          <div class="service" data-height="height">
            <div class="service-element">
            </div>
            <div class="service-info">
              <p class="margin-b-5">Saisir les meilleures opportunités.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--// end row -->
  </div>
</div>
<!-- End Service -->

<!-- Service -->
<div class="bg-color-sky-marron" data-auto-height="true">
  <div class="content-lg container">
    <h2 style="text-align: center; font-size: 30px;margin-top: -30px;color: aliceblue;">
      <span class="numberCircleRed">4</span> types de la méthode</h2>
    <br/>
    <div class="row  margin-b-2">
      <div class="col-md-3 col-sm-6 stats-item">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
          <div class="service" data-height="height" style="height: 285px !important">
            <div class="service-element">
              <img class="img-circle img-responsive" style="width: 74px; height: 74px; margin-left: 25%;" src="{{g.base_href}}assets/img/identifier.png">
            </div>
            <br/>
            <div class="service-info" style="height: 285px !important">
              <h3 style="margin-left: 19%; color: #e63636">Identifier</h3>
              <p style="text-align: center">Les startups innovantes par technologies</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 stats-item">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
          <div class="service" data-height="height" style="height: 285px !important">
            <div class="service-element">
              <img class="img-circle img-responsive" style="width: 74px; height: 74px; margin-left: 25%;" src="{{g.base_href}}assets/img/selectionner.png">
            </div>
            <br/>
            <div class="service-info" style="height: 285px !important">
              <h3 style="margin-left: 10%;color: #e63636">Séléctionner</h3>
              <p style="text-align: center">Les startups innovantes selon vos critères</p>
            </div>
            <div style="height: 20px;"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 stats-item">
        <div>
          <div class="service" data-height="height" style="height: 285px !important">
            <div class="service-element">
              <!-- <i class="service-icon icon-badge"></i> -->
              <img class="img-circle img-responsive" style="width: 74px; height: 74px; margin-left: 25%;" src="{{g.base_href}}assets/img/evaluer.png">
            </div>
            <br/>
            <div class="service-info" style="height: 285px !important">
              <h3 style="margin-left: 23%;color: #e63636">Evaluer</h3>
              <p style="text-align: center">De manière collaborative</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 stats-item">
        <div>
          <div class="service" data-height="height" style="height: 285px !important">
            <div class="service-element">
              <!-- <i class="service-icon icon-badge"></i> -->
              <img class="img-circle img-responsive" style="width: 74px; height: 74px; margin-left: 34%;" src="{{g.base_href}}assets/img/collaborer.png">
            </div>
            <br/>
            <div class="service-info">
              <h3 style="margin-left: 13%;color: #e63636">Collaborer</h3>
              <p style="text-align: center">Sur la base des projections de valeur ajoutée</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--// end row -->
  </div>
</div>

<!-- Promo Section -->
<div class="bg-color-sky-light  promo-section overflow-h">
  <div class="container">
    <div class="clearfix">
      <div class="ver-center">
        <div class="ver-center-aligned">
          <div class="promo-section-col">
            <h2>Centralisez pour les candidature d'un projet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim
              minim veniam exercitation ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret
              dolore magna aliqua enim minim veniam exercitation</p>
            <p>Ipsum dolor sit amet consectetur adipiscing elit sed tempor incididut ut sead laboret dolore magna aliqua enim
              minim veniam exercitation ipsum dolor sit amet consectetur adipiscing</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="promo-section-img-right">
    <img class="img-responsive" src="{{g.base_href}}assets/img/appli01.png" alt="Content Image">
  </div>
</div>
<div class="bg-color-sky-light  promo-section overflow-h">
  <div class="promo-section-img-left">
    <img class="img-responsive" src="{{g.base_href}}assets/img/appli02.png" alt="Content Image">
  </div>
  <div class="promo-section-img-right">
    <div class="clearfix">
      <div class="ver-center">
        <div class="ver-center-aligned">
          <div class="promo-section-col" style="width: 90%; padding: 15%; margin-top: -30px">
            <h2>Simplifier et archiver vos collaborations</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim
              minim veniam exercitation ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret
              dolore magna aliqua enim minim veniam exercitation</p>
            <p>Ipsum dolor sit amet consectetur adipiscing elit sed tempor incididut ut sead laboret dolore magna aliqua enim
              minim veniam exercitation ipsum dolor sit amet consectetur adipiscing</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<!-- End Promo Section -->
<div class="content-lg container">
  <br/>
  <div class="row margin-b-40">
    <div class="col-sm-12">
      <h2 style="text-align: center; font-size: 30px">Les
        <span class="numberCircle">3</span> bénéfices de votre
        <b>Espace deal</b>
      </h2>
      <div class="underline align-center">
        <div class="line"></div>
      </div>
      <p style="text-align: center; font-size: 20px; margin-top: 25px;">Une solution pour identifier, sélectionner, évoluer et collaborer avec les startups innvantes</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6 stats-item">
      <div class="margin-b-20">
        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
          <img class="img img-responsive" style=" margin-left: 37%;" src="{{g.base_href}}assets/img/ccacollaboration-8.png">
        </div>
      </div>
      <p style="text-align: center">Collaboration confidentielle est securisée avec chaque candidat sur un même projet</p>
      <p style="text-align: center">
        <a href="#">En savoir plus &nbsp;
          <i class="fa fa-arrow-right"></i>
        </a>
      </p>
    </div>
    <div class="col-md-4 col-sm-6 stats-item ">
      <div class="margin-b-20">
        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
          <img class="img-responsive" style="margin-left: 35%;" src="{{g.base_href}}assets/img/ccapartage-8.png">
        </div>
      </div>
      <p style="text-align: center">Partage de la candidature et les documents</p>
      <br>
      <p style="text-align: center">
        <a href="#">En savoir plus &nbsp;
          <i class="fa fa-arrow-right"></i>
        </a>
      </p>
    </div>
    <div class="col-md-4 col-sm-6 stats-item">
      <div class="margin-b-20">
        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
          <img class="img img-responsive" style="margin-left: 35%;" src="{{g.base_href}}assets/img/ccaespace-8.png">
        </div>
      </div>
      <p style="text-align: center">Espace de discussion interne entre les collaborations, dédié à chaque candidature</p>
      <p style="text-align: center">
        <a href="#">En savoir plus &nbsp;
          <i class="fa fa-arrow-right"></i>
        </a>
      </p>
    </div>
  </div>
</div>
<!-- Work -->
<div class="bg-color-sky-light overflow-h">
  <br/>
  <div class="row margin-b-40">
    <div class="col-sm-12">
      <h2 style="text-align: center; font-size: 30px">Témoignages</h2>
      <div class="underline align-center">
        <div class="line"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6 stats-item">
      <iframe class="item_" src="https://www.youtube.com/embed/OO7_F2MT3XU" width="500" height="300" frameborder="1" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="col-md-6 col-sm-6 stats-item ">
      <iframe src="https://www.youtube.com/embed/5lG4HfcGfIE" width="500" height="300" frameborder="1" allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>
</div>
<request-info></request-info>
