.text-bl{
    th{
        width: 20%;
    }
    .date{
        width: 10%;
    }
    .org{
        max-width: 153px;
        word-wrap: break-word;
        width: 10%;
    }
    .status{
        width: 4%;
    }
}