
        <!--========== HEADER ==========-->
        <header class="header navbar-fixed-top">
            <!-- Navbar -->
            <navbar-capital></navbar-capital>
            <!-- Navbar -->
        </header>
        <!--========== END HEADER ==========-->

        <!--========== PAGE LAYOUT ==========-->
        <!-- Service -->        
        <div class="bg-color-sky-white" data-auto-height="true">
            <div class="content-lg container">
                <h1 style="text-align: center; font-size: 30px; margin-top: 90px;">Architecturez vos collaborations avec les écosystèmes d'innovation</h1>
                <p style="text-align: center; font-size: 20px;color: #e63636">Extérieures à votre entreprise</p>                
                <!--// end row -->
            </div>
        </div>
        <!-- End Service -->
        <!-- Promo Section -->
        <div class="bg-color-sky-light  promo-section overflow-h">
            <div class="container">
                <div class="clearfix">
                    <div class="ver-center">
                        <div class="row">
                            <div class="col-md-8 col-sm-6 stats-item" style="margin-top: 8%;">
                                <h2>Votre problèmes et projets sont des<br> opportinutés pour les porteurs d'innovantion</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim minim veniam exercitation ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim minim veniam exercitation</p>
                                <p>Ipsum dolor sit amet consectetur adipiscing elit sed tempor incididut ut sead laboret dolore magna aliqua enim minim veniam exercitation ipsum dolor sit amet consectetur adipiscing</p>
                            </div>
                            <div class="col-md-4 col-sm-6 stats-item">
                            <img class="img-responsive" style="margin-left: 8%;margin-top: 48%;" src="{{g.base_href}}assets/img/ccaproblematiq-8.png" alt="Content Image">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-color-sky-light  promo-section overflow-h" style="height: 316px">
                <div class="container">
                    <div class="clearfix">
                        <div class="ver-center">
                            <div class="row">                                
                                <div class="col-md-4 col-sm-6 stats-item">
                                <img class="img-responsive" style="margin-left: 8%;margin-top: 8%;" src="{{g.base_href}}assets/img/ccaentreprises-8.png" alt="Content Image">
                               </div>
                               <div class="col-md-8 col-sm-6 stats-item">
                                    <h2>Votre entreprise performante maitrisent les collaborations</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim minim veniam exercitation ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim minim veniam exercitation</p>
                                    <p>Ipsum dolor sit amet consectetur adipiscing elit sed tempor incididut ut sead laboret dolore magna aliqua enim minim veniam exercitation ipsum dolor sit amet consectetur adipiscing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="bg-color-sky-light overflow-h" style=" height: 316px;">
                <div class="container">
                    <div class="clearfix">
                        <div class="ver-center">
                            <div class="row">
                                <div class="col-md-8 col-sm-6 stats-item" >
                                    <h2>Votre problèmes et projets sont des<br> opportinutés pour les porteurs d'innovantion</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim minim veniam exercitation ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim minim veniam exercitation</p>
                                    <p>Ipsum dolor sit amet consectetur adipiscing elit sed tempor incididut ut sead laboret dolore magna aliqua enim minim veniam exercitation ipsum dolor sit amet consectetur adipiscing</p>
                                </div>
                                <div class="col-md-4 col-sm-6 stats-item">
                                <img class="img-responsive" style="margin-left: 8%;margin-top: 8%;" src="{{g.base_href}}assets/img/ccanouvelactif-8.png" alt="Content Image">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="bg-color-sky-marron">
        <div class="content-lg container">
            <br/>
                <div class="row margin-b-40">
                    <div class="col-sm-12">
                    <h2 style="text-align: center; font-size: 30px;color: aliceblue;">Collaboration a  dévéloppé une méthodologie efficace pour caractériser</h2>
                    <div class="underline align-center">
                        <div class="line"></div>
                    </div>
                
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-4 col-sm-6 stats-item">
                        <div class="margin-b-20">
                            <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                <img class="img img-responsive" style=" margin-left: 37%;" src="{{g.base_href}}assets/img/ccatypologie-8.png">                            
                            </div>
                        </div>                        
                        <p style="text-align: center">Collaboration confidentielle est securisée avec chaque candidat sur un même projet</p>
                    </div>
                    <div class="col-md-4 col-sm-6 stats-item ">
                            <div class="margin-b-20">
                                <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                    <img class="img-responsive" style="margin-left: 35%;" src="{{g.base_href}}assets/img/ccaobjectif-8.png">                            
                                </div>
                            </div>                            
                            <p style="text-align: center">Partage de la candidature et les documents</p><br>
                        </div> 
                        <div class="col-md-4 col-sm-6 stats-item">
                            <div class="margin-b-20">
                                <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                    <img class="img img-responsive" style="margin-left: 35%;" src="{{g.base_href}}assets/img/ccainformation-8.png">                            
                                </div>
                            </div>                            
                            <p style="text-align: center">Espace de discussion interne entre les collaborations, dédié à chaque candidature</p>                            
                        </div>               
                </div>
                <div class="row">
                        <div class="col-md-4 col-sm-6 stats-item">
                            <div class="margin-b-20">
                                <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                    <img class="img img-responsive" style=" margin-left: 37%;" src="{{g.base_href}}assets/img/ccagestion-8.png">                            
                                </div>
                            </div>                        
                            <p style="text-align: center">Collaboration confidentielle est securisée avec chaque candidat sur un même projet</p>
                        </div>
                        <div class="col-md-4 col-sm-6 stats-item ">
                                <div class="margin-b-20">
                                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                        <img class="img-responsive" style="margin-left: 35%;" src="{{g.base_href}}assets/img/ccacapitalisation-8.png">                            
                                    </div>
                                </div>                            
                                <p style="text-align: center">Partage de la candidature et les documents</p><br>
                            </div> 
                            <div class="col-md-4 col-sm-6 stats-item">
                                <div class="margin-b-20">
                                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                        <img class="img img-responsive" style="margin-left: 35%;" src="{{g.base_href}}assets/img/ccaloremipsum-8.png">                            
                                    </div>
                                </div>                            
                                <p style="text-align: center">Espace de discussion interne entre les collaborations, dédié à chaque candidature</p>                            
                            </div>               
                    </div>
            </div>
        </div>
        <div class="bg-color-sky-light">
                <div class="content-lg container">
                    <br/>
                        <div class="row margin-b-40">
                            <div class="col-sm-12">
                            <h2 style="text-align: center; font-size: 30px;">Les 3 bénéfices principaux pour le développement de votre entreprise</h2>
                            <div class="underline align-center">
                                <div class="line"></div>
                            </div>
                        
                            </div>
                        </div>
            
                        <div class="row">
                            <div class="col-md-4 col-sm-6 stats-item">
                                <div class="margin-b-20">
                                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                        <img class="img img-responsive" style=" margin-left: 37%;" src="{{g.base_href}}assets/img/ccaproposer-8.png">                            
                                    </div>
                                </div>
                                <p style="text-align: center"><b>Proposez vos projets</b></p>                  
                                <p style="text-align: center">Collaboration confidentielle est securisée avec chaque candidat sur un même projet</p>
                            </div>
                            <div class="col-md-4 col-sm-6 stats-item ">
                                    <div class="margin-b-20">
                                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                            <img class="img-responsive" style="margin-left: 35%;" src="{{g.base_href}}assets/img/ccarecevez-8.png">                            
                                        </div>
                                    </div>
                                    <p style="text-align: center"><b>Recevez et sélectionnez des candidatures</b></p>                         
                                    <p style="text-align: center">Partage de la candidature et les documents</p><br>
                                </div> 
                                <div class="col-md-4 col-sm-6 stats-item">
                                    <div class="margin-b-20">
                                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                            <img class="img img-responsive" style="margin-left: 35%;" src="{{g.base_href}}assets/img/ccaechanger-8.png">                            
                                        </div>
                                    </div>               
                                    <p style="text-align: center"><b>Echangez dans un espace sécurisé</b></p>             
                                    <p style="text-align: center">Espace de discussion interne entre les collaborations, dédié à chaque candidature</p>                            
                                </div>               
                        </div>
                    </div>
                </div>
        <!-- Work -->
        <div>
                <br/>
                    <div class="row margin-b-40">
                        <div class="col-sm-12">
                        <h2 style="text-align: center; font-size: 30px">Témoignages de plusieurs membres de la plateforme</h2>
                        <div class="underline align-center">
                            <div class="line"></div>
                        </div>                        
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-md-3 col-sm-6 stats-item">                        
                                <iframe class="item_" src="https://www.youtube.com/embed/OO7_F2MT3XU"
                                 width="300" height="200" frameborder="1" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                        <div class="col-md-3 col-sm-6 stats-item ">
                                <iframe  src="https://www.youtube.com/embed/5lG4HfcGfIE"
                                width="300" height="200" frameborder="1" allowfullscreen="allowfullscreen"></iframe>      
                        </div> 
                        <div class="col-md-3 col-sm-6 stats-item ">
                                <iframe  src="https://www.youtube.com/embed/5lG4HfcGfIE"
                                width="300" height="200" frameborder="1" allowfullscreen="allowfullscreen"></iframe>      
                        </div> 
                        <div class="col-md-3 col-sm-6 stats-item ">
                                <iframe  src="https://www.youtube.com/embed/5lG4HfcGfIE"
                                width="300" height="200" frameborder="1" allowfullscreen="allowfullscreen"></iframe>      
                        </div>                                          
                    </div>
                    <div class="row">
                            <div class="col-md-3 col-sm-6 stats-item">                        
                                    <iframe class="item_" src="https://www.youtube.com/embed/OO7_F2MT3XU"
                                     width="300" height="200" frameborder="1" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <div class="col-md-3 col-sm-6 stats-item ">
                                    <iframe  src="https://www.youtube.com/embed/5lG4HfcGfIE"
                                    width="300" height="200" frameborder="1" allowfullscreen="allowfullscreen"></iframe>      
                            </div> 
                            <div class="col-md-3 col-sm-6 stats-item ">
                                    <iframe  src="https://www.youtube.com/embed/5lG4HfcGfIE"
                                    width="300" height="200" frameborder="1" allowfullscreen="allowfullscreen"></iframe>      
                            </div> 
                            <div class="col-md-3 col-sm-6 stats-item ">
                                    <iframe  src="https://www.youtube.com/embed/5lG4HfcGfIE"
                                    width="300" height="200" frameborder="1" allowfullscreen="allowfullscreen"></iframe>      
                            </div>                                          
                    </div>
                    <div class="row">
                            <div class="col-md-3 col-sm-6 stats-item">                        
                                    <iframe class="item_" src="https://www.youtube.com/embed/OO7_F2MT3XU"
                                     width="300" height="200" frameborder="1" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <div class="col-md-3 col-sm-6 stats-item ">
                                    <iframe  src="https://www.youtube.com/embed/5lG4HfcGfIE"
                                    width="300" height="200" frameborder="1" allowfullscreen="allowfullscreen"></iframe>      
                            </div> 
                            <div class="col-md-3 col-sm-6 stats-item ">
                                    <iframe  src="https://www.youtube.com/embed/5lG4HfcGfIE"
                                    width="300" height="200" frameborder="1" allowfullscreen="allowfullscreen"></iframe>      
                            </div> 
                            <div class="col-md-3 col-sm-6 stats-item ">
                                    <iframe  src="https://www.youtube.com/embed/5lG4HfcGfIE"
                                    width="300" height="200" frameborder="1" allowfullscreen="allowfullscreen"></iframe>      
                            </div>                                          
                        </div>
                </div>
        
        <!--========== END PAGE LAYOUT ==========-->
    <!-- </body> -->
    <!-- END BODY -->
    <request-info></request-info>
<!-- </html> -->