<img class="img-l" src="{{g.base_href}}assets/img/logo-ccw.png" width="95px">

<h2 class="mt-4 mb-5">Meet the future</h2>
<ul>
    <li>
        <a>
            <img src="{{g.base_href}}assets/img/free-8.png" width="35px">
        </a>Free
        <br>

        <span>It's free for the Freemium offer</span>
    </li>
    <li>
        <a>
            <img src="{{g.base_href}}assets/img/automnomous-8.png" width="37px">
        </a>autonomous
        <br>
        <span>You are autonomous to do everything</span>
    </li>
    <li>
        <a>
            <img src="{{g.base_href}}assets/img/assisted-8.png" width="45px">
        </a>assisted
        <br>
        <span>We are here to help you</span>
    </li>
</ul>