.img-l {
    margin-left: -17px;
    margin-top: 55px
}

h2 {
    font-size: 25px;
    font-family: SourceSansPro-Semibold;
    letter-spacing: 0.2px;
}

ul {
    li {
        margin-top: 75px;
        font-size: 21px;
        font-family: SourceSansPro-Semibold;
        a {
            img {
                padding-right: 14px;
            }
        }
        span {
            margin-top: 75px;
            font-size: 13px;
        }
    }
}