.bg-fr-color::after {
    background: linear-gradient(-159deg, rgba(112, 50, 92, 0.8) 0%, rgba(120, 25, 10, 0.8) 100%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    @media(max-height: 723px) {
        height: 113%;
    }
    @media(max-height:635px) {
        height: 120%;
    }
    @media(max-height:601px) {
        height: 150%;
    }
    @media(max-height:414px) {
        height: 180%;
    }
    @media(max-height:375px) {
        height: 200%;
    }
    @media(max-height:320px) {
        height: 250%;
    }
}

.rty {
    @media(max-height: 723px) {
        height: 113%;
    }
    @media(max-height:635px) {
        height: 120%;
    }
    @media(max-height:601px) {
        height: 150%;
    }
    @media(max-height:414px) {
        height: 180%;
    }
    @media(max-height:375px) {
        height: 200%;
    }
    @media(max-height:320px) {
        height: 250%;
    }
}

.section-login {
    position: static;
    background: white;
}

.form-dark .font-small {
    font-size: 0.8rem;
}

.form-dark [type="radio"]+label,
.form-dark [type="checkbox"]+label {
    font-size: 0.8rem;
}

.form-dark [type="checkbox"]+label:before {
    top: 2px;
    width: 15px;
    height: 15px;
}

.form-dark .md-form label {
    color: #fff;
}

.form-dark input[type=text]:focus:not([readonly]) {
    border: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851;
}

.form-dark input[type=text]:focus:not([readonly])+label {
    color: #fff;
}

.form-dark input[type=password]:ffocus:not([readonly]) {
    border: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851;
}

.form-dark input[type=password]:focus:not([readonly])+label {
    color: #fff;
}

.form-dark input[type="checkbox"]+label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #fff;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
}

.form-dark input[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #00c851 #00c851 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.bg-login {
    background: transparent;
    box-shadow: none;
    width: 31rem;
    margin: 0 auto;
    @media(max-width: 414px) {
        width: inherit;
    }
}

.chl {
    padding-left: 27px;
}

.content-rgba {
    background-color: white;
    border-radius: 5px;
}

.form-up {
    margin-top: 45px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search-md],
input[type=search],
textarea.md-textarea {
    border: 2px solid #f4f3f3;
    border-radius: 4px;
    height: 23px;
    padding-left: 16px;
    width: 95%;
    box-sizing: border-box;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search-md]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.md-textarea:focus:not([readonly]) {
    border: 2px solid #dadada;
    background: #fcfcfc;
    box-shadow: none;
    box-sizing: border-box;
}

.text-logo {
    margin-bottom: 34px;
    h4 {
        color: #e83936;
        font-size: 21px;
        font-family: SourceSansPro-Regular;
        letter-spacing: 0.5px;
        margin-top: 25px;
    }
    p {
        color: #a5a6aa;
        font-size: 13px;
        letter-spacing: -0.1px;
    }
}

.input-md {
    label {
        text-transform: uppercase;
        font-size: 14px;
        font-family: SourceSansPro-Semibold;
        color: #606060;
        letter-spacing: 0.3px;
    }
}

.bg-sign {
    background: linear-gradient(-90deg, #e83936, #f94d37);
}

.forgot-pwd {
    float: right;
    font-size: 14px;
    font-family: SourceSansPro-Semibold;
    color: #606060;
}

.remember-me {
    font-size: 14px;
    font-family: SourceSansPro-Semibold;
    color: #606060;
}

.already-member {
    font-size: 14px;
    font-family: SourceSansPro-Semibold;
    color: #606060;
    letter-spacing: 0.1px;
}

.mdp-me {
    margin-top: -10px;
    margin-bottom: 24px;
    padding-left: 4px;
}

.recovery {
    color: #e83936;
    text-transform: capitalize;
    padding-left: 4px;
}

 ::-webkit-input-placeholder {
    color: #a5a6aa;
}

 ::-moz-placeholder {
    color: #a5a6aa;
}

 :-ms-input-placeholder {
    color: #a5a6aa;
}

 :-moz-placeholder {
    color: #a5a6aa;
}

.px-5-edit {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
}