<div class="bg-fr-color log-in-register">
    <img [src]="img_avatar" class="rty" alt="First sample avatar image" width="100%" height="100%" style="position:absolute;">
</div>

<div class="section-login">
    <div class="container">
        <message-notif *ngIf = "error_log" [message]="text_" [type]="type_"  ></message-notif>
    </div>

    <section class="form-dark" *ngIf='resetpassFormFlag'>
        <div class="card card-image bg-login">
            <form class="form-up" [formGroup]="resetpassForm" (ngSubmit)="resetpassFormSubmit()" >
            <div class="text-white content-rgba py-5 px-5-edit z-depth-4">
                
                 <div class="text-center text-logo">
                           <img [src]="img_logo" class="rty" alt="First sample avatar image" width="53%" height="100%">
                           <h4>Reinitialiser mot de passe</h4>
                </div>

                
                <div class="input-md">
                    <label for="bh_pass">Mot de passe</label>
                    <input type="password" formControlName="bh_pass" id="bh_pass" class="form-control" mdbActive validate required="required">
                </div>
                <div class="input-md">
                    <label for="bh_pass_conf">Confirmer mot de passe</label>
                    <input type="password" formControlName="bh_pass_conf" id="bh_pass_conf" class="form-control" mdbActive validate required="required">
                </div>
                <div class="row d-flex align-items-center">
                    <div class="text-center mb-3 col-md-12">
                        <button [ngClass]="{'disabled':!resetpassForm.valid || resetpassForm.value.bh_pass != resetpassForm.value.bh_pass_conf || resetpassForm.controls.bh_pass.untouched || resetpassForm.controls.bh_pass_conf.untouched }" type="submit" class="btn btn-success btn-block btn-rounded z-depth-1 bg-sign">Reinitialiser</button>
                    </div>
                </div>
            </div>
        </form>


        </div>

    </section>
</div>