<mdb-carousel [isControls]="false" [animation]="'slide'" [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex" (activeSlideChange)="activeSlideChange()">
    <mdb-slide *ngFor="let slide of slides; let index=index">
        <div class="view hm-black-light">
            <img class="d-block w-100" [src]="slide.image">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption">
            <img src="{{g.base_href}}assets/img/logo-ccw.png" width="115">
            <h1>Collaboration Capital</h1>
            <h2>Open your organization to innovate</h2>
            <p class="lead">
                <a class="btn btn-primary btn-lg btn-wnt" href="#" role="button">I want to apply for projects!</a>
                <a routerLink="/register-organisation" class="btn btn-primary btn-lg btn-crt" href="#" role="button">I create my organization</a>
            </p>
        </div>
    </mdb-slide>
</mdb-carousel>