.appli {
    margin-top: 100px !important;
    text-align: center;
    width: 60%;
    color: #393f4b;
    font-size: 16px;
    font-family: SourceSansPro-Regular;
    margin: 0 auto;
    a {
        color: #007bff;
    }
}