.mt-custom {
  margin-top: 4rem
}

.appli-table {
  td a {
    color: #0275d8;
  }
  td a:hover {
    border-bottom: 1px solid #0275d8;
  }
  tbody tr:hover {
    background: #ff00001a !important;
    cursor: pointer;
  }
  tbody {
    td {
      border-top: none;
    }
  }
  .text-bl {
    box-shadow: 0px 0px 0px 0px;
  }
  .bn {
    padding-left: 7px;
  }
}
