<div class="mb-4">
  <div class="deal-file-container">
    <div class="flex position-realtive dc">
      <h3>designing & concept</h3>
      <div class="assign-to">
        <span class="adt">assigned to:</span>
        <img [src]="img_avatar" class="rounded-circle img-fluid img-no-avatar" alt="First sample avatar image" width="35px">
        <img [src]="img_avatar" class="rounded-circle img-fluid img-no-avatar" alt="First sample avatar image" width="35px">
        <img [src]="img_avatar" class="rounded-circle img-fluid img-no-avatar" alt="First sample avatar image" width="35px">
        <span class="img-avatar">
          <i class="fa fa-user-plus"></i>
        </span>
        <span class="elipse"><i class="fa fa-ellipsis-h"></i></span>
      </div>
    </div>
  </div>
  <div class="mt-2 position-relative">
      <span class="time-ago">2h ago</span>
      <label class="custon-ch col2">
          <span class="agree ml-2 form-check-labe" for="asia">sint perspiciatis excepturi! Impedit, quam?</span>
          <input type="checkbox"  id="america" checked>
          <span class="checkmark"></span>
      </label><br>
      <label class="custon-ch col2">
          <span class="agree ml-2 form-check-labe" for="asia">sint perspiciatis excepturi! Impedit, quam?</span>
          <input type="checkbox"  id="america" checked>
          <span class="checkmark"></span>
      </label><br>
      <label class="custon-ch col2">
          <span class="agree ml-2 form-check-labe" for="asia">sint perspiciatis excepturi! Impedit, quam?</span>
          <input type="checkbox"  id="america" checked>
          <span class="checkmark"></span>
      </label><br>
      <span class="add-new"><i class="fa fa-plus"></i>add new task</span>
  </div>
</div>


<div class="mb-4">
  <div class="deal-file-container">
      <div class="flex position-realtive dc">
        <h3>development</h3>
        <div class="assign-to">
          <span class="adt">assigned to:</span>
          <img [src]="img_avatar" class="rounded-circle img-fluid img-no-avatar" alt="First sample avatar image" width="35px">
          <img [src]="img_avatar" class="rounded-circle img-fluid img-no-avatar" alt="First sample avatar image" width="35px">
          <img [src]="img_avatar" class="rounded-circle img-fluid img-no-avatar" alt="First sample avatar image" width="35px">
          <span class="img-avatar">
            <!-- <img [src]="img_avatar" class="rounded-circle img-fluid" alt="First sample avatar image" width="35px"> -->
            <i class="fa fa-user-plus"></i>
          </span>
          <span class="elipse"><i class="fa fa-ellipsis-h"></i></span>
        </div>
      </div>
    </div>
    <div class="mt-2 position-relative">
        <span class="time-ago">2h ago</span>
        <label class="custon-ch col2">
            <span class="agree ml-2 form-check-labe" for="asia">sint perspiciatis excepturi! Impedit, quam?</span>
            <input type="checkbox"  id="america" checked>
            <span class="checkmark"></span>
        </label><br>
        <label class="custon-ch col2">
            <span class="agree ml-2 form-check-labe" for="asia">sint perspiciatis excepturi! Impedit, quam?</span>
            <input type="checkbox"  id="america" checked>
            <span class="checkmark"></span>
        </label><br>
        <label class="custon-ch col2">
            <span class="agree ml-2 form-check-labe" for="asia">sint perspiciatis excepturi! Impedit, quam?</span>
            <input type="checkbox"  id="america" checked>
            <span class="checkmark"></span>
        </label><br>
        <span class="add-new"><i class="fa fa-plus"></i>add new task</span>
  </div>
</div>

<div class="mb-4">
    <div class="deal-file-container">
        <div class="flex position-realtive dc">
          <h3>product</h3>
          <div class="assign-to">
            <span class="adt">assigned to:</span>
            <img [src]="img_avatar" class="rounded-circle img-fluid img-no-avatar" alt="First sample avatar image" width="35px">
            <img [src]="img_avatar" class="rounded-circle img-fluid img-no-avatar" alt="First sample avatar image" width="35px">
            <img [src]="img_avatar" class="rounded-circle img-fluid img-no-avatar" alt="First sample avatar image" width="35px">
            <span class="img-avatar">
              <!-- <img [src]="img_avatar" class="rounded-circle img-fluid" alt="First sample avatar image" width="35px"> -->
              <i class="fa fa-user-plus"></i>
            </span>
            <span class="elipse"><i class="fa fa-ellipsis-h"></i></span>
          </div>
        </div>
      </div>
      <div class="mt-2 position-relative">
          <span class="time-ago">2h ago</span>
          <label class="custon-ch col2">
              <span class="agree ml-2 form-check-labe" for="asia">sint perspiciatis excepturi! Impedit, quam?</span>
              <input type="checkbox"  id="america" checked>
              <span class="checkmark"></span>
          </label><br>
          <label class="custon-ch col2">
              <span class="agree ml-2 form-check-labe" for="asia">sint perspiciatis excepturi! Impedit, quam?</span>
              <input type="checkbox"  id="america" checked>
              <span class="checkmark"></span>
          </label><br>
          <label class="custon-ch col2">
              <span class="agree ml-2 form-check-labe" for="asia">sint perspiciatis excepturi! Impedit, quam?</span>
              <input type="checkbox"  id="america" checked>
              <span class="checkmark"></span>
          </label><br>
          <span class="add-new"><i class="fa fa-plus"></i>add new task</span>
    </div>
  </div>

  
  
