<div class="col-container">
  <div *ngIf="readyData" class="table-respo">
    <div *ngIf="!hasData">
      <p class="hasdata">
        Hello,
        <br> You did not received any applications on your collaborations proposals.
      </p>
    </div>
    <!-- NgIf collabtype == collabinnov c-a-d Project -->
    <div *ngIf="hasData">
      <table class="table appli-table table-striped">
        <!--Table head-->
        <thead class="head-color">
          <tr class="text-bl">
            <th>Date</th>
            <th>Country</th>
            <th>Organisation</th>
            <th>Type</th>
            <!-- <th>Firstname</th>
            <th>Lastname</th> -->
            <th>Collaboration name</th>
            <th>Application name</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
          <tr *ngFor="let item of allApplData">
            <td class="date">{{item.date}}</td>
            <td>{{item.countryCD}}</td>
            <td>{{item.usr.org}}</td>
            <td>{{g.getCollabtypetext(item.prjt.type)}}</td>
            <!-- <td>{{item.usr.firstname}}</td>
            <td>{{item.usr.lastname}}</td> -->
            <td class="privil-td"><a [routerLink]="['/administration-in','collaborations','application-received','details', item._id ]" target="_blank">{{item.prjt.name}}</a></td>
            <td class="privil-td"><a [routerLink]="['/administration-in','collaborations','application-received','details', item._id ]" target="_blank">{{item.applicationName}}</a></td>
            <td class="text-capitalize">{{item.status}}</td>
            <td>
              <a [routerLink]="['/administration-in','collaborations','application-received','details', item._id ]" target="_blank">

                <i class="fa fa-eye"></i>
              </a>
            </td>
          </tr>
        </tbody>
        <!--Table body-->
      </table>
      <!--Table-->
    </div>
  </div>
</div>
