.modal-body {
	padding: 0px !important;
}

.close-md {
	z-index: 1060;

	span {
		top: 7px;
		position: relative;
		left: 5px;
		color: #e83936;
	}

}

.ask-modal {
	@media (min-width:576px) {
		max-width: 75% !important;
	}

}

/* #modalZoneForm {
  background-color: #000000eb;
} */