.rec{
	span{
		color: #393f4b;
	    font-family: SourceSansPro-Semibold;
	    font-size: 13.5px;
	    text-transform: uppercase;
	    line-height: 27px;
	}
}
h5{
    color: #393f4b;
    font-family: SourceSansPro-Semibold;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 35px
	}