.appli-table {
  td a {
    color: #0275d8;
  }
  td a:hover {
    border-bottom: 1px solid #0275d8;
  }
  .head-color {
    .text-bl {
      th {
        width: 17%;
      }
    }
  }
  tbody {
    td {
      border: none !important;
    }
    tr:hover {
      background: #ff00001a !important;
      cursor: pointer;
    }
  }
  tbody tr:nth-of-type(odd) {
    background-color: rgba(160, 160, 160, 0.05);
  }
  .cn {
    width: 18%;
    padding-left: 0px !important;
    .fa-angle-down {
      text-align: center;
      font-size: 15px;
      color: #f73547;
      font-weight: bold;
      position: relative;
      top: -4px;
    }
    .fa-search {
      padding-left: 1rem !important;
      color: #393f4b;
    }
    div:first-child {
      width: 194px;
      background: #ff00001a;
      top: 12px;
      position: relative;
      height: 47px;
      text-align: center;
      padding-top: 13px;
      border-bottom: 2px solid #f73547;
    }
  }
}
.ml-16{
  margin-top: 52px;
}
.currentPage {}
