 <div class="container-fluid grid"> 
  <div class="card card-profile">
      <div class="card-body">
          <div class="row">
            <div class="col-3-edit">
              <img [src]="img_avatar" class="img-fluid" alt="First sample avatar image" width="100%">
            </div>
            <div class="col-8-edit status-person">
                <h3 class="font-weight-bold">
                  <strong>John Doe</strong>
                  <span>director</span>
                </h3>
                <p>Le Lorem Ipsum est simplement du faux texte employé dans 
                  la composition et la mise en page avant impression. Il a été popularisé 
                  dans les années 1960 grâce à la vente de feuilles Letraset 
                  contenant des passages du Lorem Ipsum, et, plus récemment, par 
                  son inclusion dans des applications de mise en page de texte, 
                  comme Aldus PageMaker.
                </p>
                <p>Le Lorem Ipsum est simplement du faux texte employé dans 
                  la composition et la mise en page avant impression.
                  Le Lorem Ipsum est le faux texte standard de l'imprimerie 
                  depuis les années 1500, quand un peintre anonyme assembla 
                  ensemble des morceaux de texte pour réaliser un livre spécimen 
                  de polices de texte.
                </p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg btn-wnt" href="#" role="button">ask a question<i class="fa fa-question-circle icon-question"></i></a>
                  <a class="btn btn-primary btn-lg btn-crt" href="#" role="button">write the question</a>
                </p>
            </div>
          </div>
      </div>
  </div> 
  <div class="card card-profile">
      <div class="card-body">
          <div class="row">
            <div class="col-3-edit">
              <img [src]="img_avatar" class="img-fluid" alt="First sample avatar image" width="100%">
            </div>
            <div class="col-8-edit status-person">
                <h3 class="font-weight-bold">
                  <strong>John Doe</strong>
                  <span>director</span>
                </h3>
                <p>Le Lorem Ipsum est simplement du faux texte employé dans 
                  la composition et la mise en page avant impression. Il a été popularisé 
                  dans les années 1960 grâce à la vente de feuilles Letraset 
                  contenant des passages du Lorem Ipsum, et, plus récemment, par 
                  son inclusion dans des applications de mise en page de texte, 
                  comme Aldus PageMaker.
                </p>
                <p>Le Lorem Ipsum est simplement du faux texte employé dans 
                  la composition et la mise en page avant impression.
                  Le Lorem Ipsum est le faux texte standard de l'imprimerie 
                  depuis les années 1500, quand un peintre anonyme assembla 
                  ensemble des morceaux de texte pour réaliser un livre spécimen 
                  de polices de texte.
                </p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg btn-wnt" href="#" role="button">ask a question<i class="fa fa-question-circle icon-question"></i></a>
                  <a class="btn btn-primary btn-lg btn-crt" href="#" role="button">write the question</a>
                </p>
            </div>
          </div>
      </div>
  </div> 
  <div class="card card-profile">
      <div class="card-body">
          <div class="row">
            <div class="col-3-edit">
              <img [src]="img_avatar" class="img-fluid" alt="First sample avatar image" width="100%">
            </div>
            <div class="col-8-edit status-person">
                <h3 class="font-weight-bold">
                  <strong>John Doe</strong>
                  <span>director</span>
                </h3>
                <p>Le Lorem Ipsum est simplement du faux texte employé dans 
                  la composition et la mise en page avant impression. Il a été popularisé 
                  dans les années 1960 grâce à la vente de feuilles Letraset 
                  contenant des passages du Lorem Ipsum, et, plus récemment, par 
                  son inclusion dans des applications de mise en page de texte, 
                  comme Aldus PageMaker.
                </p>
                <p>Le Lorem Ipsum est simplement du faux texte employé dans 
                  la composition et la mise en page avant impression.
                  Le Lorem Ipsum est le faux texte standard de l'imprimerie 
                  depuis les années 1500, quand un peintre anonyme assembla 
                  ensemble des morceaux de texte pour réaliser un livre spécimen 
                  de polices de texte.
                </p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg btn-wnt" href="#" role="button">ask a question<i class="fa fa-question-circle icon-question"></i></a>
                  <a class="btn btn-primary btn-lg btn-crt" href="#" role="button">write the question</a>
                </p>
            </div>
          </div>
      </div>
  </div> 
</div>
