<nav class="navbar navbar-expand-md bg-desk">
    <div class="container-fluid">
        <a class="navbar-brand brand-tip"><img src="{{g.base_href}}assets/img/logo-ccw.png" width="37"></a>
        <ul class="navbar-nav form-inline my-2 my-md-0 desk-nav-icon dni-mobile">
            <!-- <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-question-circle-o"></i></a>
            </li>
            <li class="nav-item i-co">
                <a class="nav-link" href="#"><i class="fa fa-bell"><i *ngIf="auth.isLoggedIn()" class="fa fa-circle"></i></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-cog"></i></a>
            </li>
            <li class="nav-item  myclass" *ngFor="let item of userAdminData">
                <a class="nav-link img-reel" *ngIf="item.imageProfile" [routerLink]="['/administration-in','user','profile']"><img [src]="item.imageProfile" alt="{{item.firstname+' '+item.lastname }}" class="mr-3 rounded-circle" width="25px" height="25px"></a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" [routerLink]="['/administration-in','user','profile']"><i class="fa fa-user-circle"></i></a>
            </li> -->
        </ul>
        <div class="navbar-collapse mobil-top" id="navbarsExample04">
            <ul class="navbar-nav mr-auto desk-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link " [routerLink]="['/administration-in','desk']">My desk <span class="sr-only"></span></a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/administration-in','collaborations']">Collaborations</a>
                </li>
                <li class="nav-item fr" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/administration-in','opportunities']">Opportunities</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/administration-in','positions']">Positions</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/administration-in','communities']">Communities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/open-innovation', currentSlug ,'acceuil']">Web portal</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav form-inline my-2 my-md-0 desk-nav-icon desk-sh">
            <li class="nav-item pw" routerLinkActive="active">
                <a class="nav-link " [routerLink]="['/c-capital','accueil']">Portail web</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-question-circle-o"></i></a>
            </li>
            <li class="nav-item i-co">
                <a class="nav-link" href="#"><i class="fa fa-bell"><i *ngIf="auth.isLoggedIn()" class="fa fa-circle"></i></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/administration-in','setting','config']"><i class="fa fa-cog"></i></a>
            </li>
            <li  (click)="toggleCollapse2()" class="nav-item  myclass position-realtive" *ngFor="let item of userAdminData">
                <a class="nav-link img-reel" *ngIf="item.imageProfile" ><img [src]="item.imageProfile" alt="{{item.firstname+' '+item.lastname }}" class="mr-3 rounded-circle" width="25px" height="25px"></a>
                <span class="m-deconnect">
                    <span class="cursor-p"><a [routerLink]="['/administration-in','user','profile']">My profile</a></span><hr>
                    <span class="cursor-p" (click)="auth.logout()">Deconnexion</span>
                </span>
            </li>
        </ul>
        <a (click)="toggleCollapse()" class="menu-bar"><i class="fa fa-bars i-bar"></i></a>
    </div>
</nav>