.margin-center {
	margin: 0 auto;
	margin-top: 10px;
	box-shadow: 1px 1px 3px 0px grey;
}

.alrt {
	// margin-top: 16px !important;
	text-align: center !important;
	padding: 17px !important;
}

.alrt p {
	margin-bottom: 0px
}

.mss_cont{
	padding-top: 15px
}