.showContainModal{
	display: none;
}

.md-header {
  background: transparent !important;

  .close {
    margin-right: 0px;
  }

}
.md-header{
    background: transparent !important;
    .close{
        span{
            font-size: 16px;
            text-transform: uppercase;
            font-family: SourceSansPro-Semibold;
        }
        i{
            color: #e83936;
            padding-right: 5px;
        }
    }
}
.md-content {
    background: transparent;
    text-align:center;
}

.imf {
  // width: 100% !important;
  // height: 100%;
  /*   width: 100%; */
    height: auto;
    @media(min-width:965px){
      max-width:965px;
      max-height: 550px;
    }
}

#modalZoneForm {
  background-color: #000000eb;
}