<div class="bg-col">
    <h1>Application form</h1>
</div>
<div class="container">
    <div class="header-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis porro sed illum ullam error molestiae exercitationem voluptate? Architecto quidem, excepturi cupiditate quos odit omnis perspiciatis ipsum libero illum, vitae id Lorem ipsum dolor
            sit amet, consectetur adipisicing elit. Veritatis porro sed illum ullam error molestiae exercitationem voluptate? Architecto quidem, excepturi cupiditate quos odit omnis perspiciatis ipsum libero illum, vitae id.</p>
        <hr>
    </div>
    <form class="proposal">
        <h2>the collaborative proposal</h2>
        <label class="grey-text-form">collaboration name</label>
        <div class="input-md position-realtive">
            <input type="text" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit." id="" class="form-control-project" mdbActive validate required="required">
            <i class="fa fa-check"></i>
        </div>
        <label class="grey-text-form">project objectives</label>
        <textarea placeholder="description project" type="text" name="" class="form-control-project form-control-project-textarea ">
            </textarea>
        <h2>identity of the organization</h2>
        <div class="row">
            <div class="col-6 pl-0">
                <label class="grey-text-form">organisation name</label>
                <div class="input-md">
                    <input type="text" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit." id="" class="form-control-project" mdbActive validate required="required">
                </div>
            </div>
            <div class="col-6 pr-0">
                <label class="grey-text-form">activity type</label>
                <div class="input-md">
                    <select class="select-act-type">
                    <option value="default">select the activity</option>
                    <option>select</option>
                  </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 pl-0">
                <label class="grey-text-form">location</label>
                <div class="input-md">
                    <input type="text" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit." id="" class="form-control-project" mdbActive validate required="required">
                </div>
            </div>
            <div class="col-6 pr-0">
                <label class="grey-text-form">website</label>
                <div class="input-md">
                    <select class="select-act-type">
                    <option value="default">Your website</option>
                    <option>select</option>
                  </select>
                </div>
            </div>
        </div>
        <h2>the collaboration proposal</h2>
        <label class="grey-text-form  grey-text-form-proposal">can you specify in few lines your proposal, and make sure to explain the link with your activities, projects and skills, to strengthen the credibility of your proposal</label>
        <textarea placeholder="" type="text" name="" class="form-control-project form-control-project-textarea "></textarea>
        <div class="text-right">
            <button class="mb-4 btn-col btn">
            <i class="fa fa-send pr-2"></i>send</button>
        </div>
    </form>
</div>