.input-story{
    border: 2px solid #f4f3f3;
    border-radius: 4px;
    height: 35px;
    padding-left: 16px;
    margin-bottom: 10px;
}
.sc{
	font-size: 15px;
    font-family: SourceSansPro-Semibold;
    color: #606060;
}
.bg-sign {
    background: linear-gradient(-90deg, #e83936, #f94d37);
}
.d-flex{
	display:flex;
}
.cancel-btn{
	margin-top: 0px;
    margin-bottom: 0px;
}