h5 {
    color: #393f4b78;
    font-family: SourceSansPro-Semibold;
    font-size: 14px;
}

.media-body {
    color: #393f4be0;
    font-family: SourceSansPro-Regular;
    font-size: 15px;
    line-height: 17px;
    padding-left: 10px;
    .text-c {
        background: #f5f5f7;
        padding: 10px;
        font-size: 14px;
        line-height: 22px;
    }
    .text-a {
        font-size: 14px;
        line-height: 22px;
    }
}

.c-gr {
    background: #eaebed;
    border-radius: 45px;
    padding: 0.5px 3px 0.5px 3px;
    color: #7b7774;
    font-size: 13.5px;
}

.c-rd {
    background: #e94e45;
    border-radius: 45px;
    padding: 0.5px 3px 0.5px 3px;
    color: white;
    font-size: 13.5px;
}

.title-red {
    color: #e94e45;
}


/* checkbox */

.custon-ch {
    width: 100%;
    background: #f5f5f7;
    padding: 8px;
    padding-left: 35px;
    border-radius: 1px;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    span:first-child {
        font-family: SourceSansPro-Regular;
        font-size: 14px;
    }
}

.custon-ch input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 6px;
    left: 10px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 4px;
}

.custon-ch:hover input~.checkmark {
    background-color: #ccc;
}

.custon-ch input:checked~.checkmark {
    background: #e94e45;
    border-radius: 4px;
    border: 0px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custon-ch input:checked~.checkmark:after {
    display: block;
}

.custon-ch .checkmark:after {
    left: 8px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* end checkbox */

.question {
    position: relative;
    margin-bottom: 21px;
    input {
        border: 2px solid #eaebed;
        margin-top: 21px;
        border-radius: 3px;
    }
    .icon-in {
        position: absolute;
        top: 29px;
        right: 0px;
        a {
            margin-right: 7px;
            color: #393f4be8;
            font-size: 17px;
        }
    }
}