<div class="qustion-answers">
    <div class="media mt-4">
        <img [src]="img_avatar" class="rounded-circle img-fluid" alt="First sample avatar image" width="52px">
        <div class="media-body">
            <h5 class="mt-0">Media heading<span class="pl-2">1:48 PM</span></h5>
            <div class="text-a">Cras sit amet nibh libero</div>
        </div>
    </div>
    <div class="media mt-4">
        <img [src]="img_avatar" class="rounded-circle img-fluid" alt="First sample avatar image" width="52px">
        <div class="media-body">
            <h5 class="mt-0">Media heading<span class="pl-2">1:48 PM</span></h5>
            <div class="text-c">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque unde illum neque, dolor sit amet consectetur adipisicing elit. Cumque unde illum neque similique odio praesentium ab molestias asperiores sunt omnis rem vero quaerat veniam vel
                sint perspiciatis excepturi! Impedit, quam?
                <span class="c-gr">@john</span>
                <span class="c-gr">@john</span>
                <span class="c-rd">@john</span>
            </div>
        </div>
    </div>
    <div class="media mt-4">
        <img [src]="img_avatar" class="rounded-circle img-fluid" alt="First sample avatar image" width="52px">
        <div class="media-body">
            <h5 class="mt-0"><span class="title-red">Media heading</span><span class="pl-2">1:48 PM</span></h5>
            <div class="text-a"><span class="c-gr">@john</span>dolor sit amet consectetur adipisicing elit. Cumque unde illum neque, dolor sit</div>
        </div>
    </div>
    <div class="media mt-4">
        <img [src]="img_avatar" class="rounded-circle img-fluid" alt="First sample avatar image" width="52px">
        <div class="media-body">
            <h5 class="mt-0">Media heading<span class="pl-2">1:48 PM</span></h5>
            <label class="custon-ch col2">
                <span class="agree ml-2 form-check-labe" for="asia">sint perspiciatis excepturi! Impedit, quam?<span class="c-rd">@john</span></span>
                <input type="checkbox"  id="america" checked>
                <span class="checkmark"></span>
            </label><br>
            <label class="custon-ch col2">
                <span class="agree ml-2 form-check-labe" for="asia"> perspiciatis excepturi! Impedit, quam?rica<span class="c-gr">@john</span></span>
                <input type="checkbox"  id="america">
                <span class="checkmark"></span>
            </label><br>
            <label class="custon-ch col2">
                <span class="agree ml-2 form-check-labe" for="asia">sint perspiciatis excepturi! Impedit, quam?<span class="c-gr">@john</span></span>
                <input type="checkbox"  id="america" checked>
                <span class="checkmark"></span>
            </label><br>
        </div>
    </div>
    <div class="media mt-4">
        <img [src]="img_avatar" class="rounded-circle img-fluid" alt="First sample avatar image" width="52px">
        <div class="media-body">
            <h5 class="mt-0">Media heading<span class="pl-2">1:48 PM</span></h5>
            <div class="text-a"><span class="c-gr">@john</span>Cras sit amet nibh libero olor sit amet consectetur adipisicing elit. Cumque unde illum</div>
        </div>
    </div>
    <div class="media mt-4">
        <img [src]="img_avatar" class="rounded-circle img-fluid" alt="First sample avatar image" width="52px">
        <div class="media-body">
            <h5 class="mt-0">Media heading<span class="pl-2">1:48 PM</span></h5>
            <div class="text-a"><span class="c-gr">@john</span>Cras sit amet nibh libero olor sit amet consectetur adipisicing elit. Cumque unde illum</div>
        </div>
    </div>
    <div class="question">
        <input type="text">
        <div class="icon-in">
            <a><i class="fa fa-smile-o"></i></a>
            <a><i class="fa fa-at"></i></a>
            <i class="fa fa-paperclip"></i>
            <a><i class="fa fa-check"></i></a>
            <a><i class="fa fa-ellipsis-h"></i></a>
        </div>
    </div>
</div>