$color1 : #393f4b;
$color2: #f8f8fa;
$color3: #e83936;
.grid-project{
	width:90%;
	margin:0 auto;
}
i{
	padding-right: 8px;
}
button{
    border-radius: 4px;
}
.bg-form{
	background:$color3;
	text-transform:uppercase;
}
/* navbar style all*/
.bg-gri{
	background-color: #f8f8fa !important;
    position: absolute;
    height: 75px;
    width: 100%;
    z-index: -99999;
    margin-top: 218px;
}
.bg-nav{
	background:#6a6d84;
	padding-top: 1.1px;
	padding-bottom: 1.1px;
	.navbar-nav{
		li{	
			margin-right: 10px;
			a{
				color: white;
			    font-family: SourceSansPro-Semibold;
			    text-transform: capitalize;
			    font-size: 13px;
			}
        }
        li.active,
        li a.active {
            border-bottom: 3px solid #da5445;
        }		
	}
	.connexion{
		.btn-inscrire{
			background: linear-gradient(-90deg,#f94d37,#e83936);
		    color: white;
		    padding: 10px 25px 10px 25px;
		    font-size: 14px;
		    font-family: SourceSansPro-Regular;
		    border: none;
		    text-transform: capitalize;
		    margin-right: 15px;
		}
		.btn-connect{
			background: transparent;
		    color: white;
		    padding: 10px 25px 10px 25px;
		    font-size: 14px;
		    font-family: SourceSansPro-Regular;
		    text-transform: capitalize;
		    border: 1px solid gray;
		}
	}
	.flex{
		    display: flex;
	}
	.mr-left-nav{
		    margin-left: 45px;
	}
}
	/* mobile navbar */
@media(max-width:1200px){
	.mobile-nav{
		display: block !important;
	}
	.connexion{
		float: right;
	}
	.mr-left-nav{
		float: left;
	}
}
@media(max-width:1000px){
	.mr-left-nav-mobile{
		display: block;
	}
}
@media(max-width:1000px){
	.desktop-ns{
		display:none !important;
	}
	.icon-bar{
		display:block !important;
		color: white !important;
	    position: relative;
	    top: 11px;
	    font-size: 25px;
	    left: -14px;
	}
	.my-md-0{
		margin-top: 0.5rem !important;
	}
	
}
.mb-nav, .icon-bar, .mr-left-nav-mobile{
	display:none;
}
@media(max-width:590px){
.c-none{
	display:none;
	}
.b2{
	width:42px;
	padding:7px !important;
	i{
		padding:0px;
	}
	}
}
@media(max-width:358px){
	.connexion{
		position: absolute;
		display:inline-table;
		right: 5px;
		.btn-inscrire{
			margin-right: 2px !important;
		}
	}
}

	/* end mobile navbar */
/* end navbar style all */
$red : #e55037;
$blue : #393F4B;
$gray : #a7a7a7;   
$green : #71BF71; 
$gray:#393f4b;
#modal-connexion-cca{
	.success-content-connexion{
		background: transparent;
		box-shadow:none;
		max-width: 990px;
	    margin: 0 auto;
	    top: 45px;
		h4{
			color:$blue ;
			font-family: SourceSansPro-Semibold;
    		font-size: 21px;
		}
		h5{
			color:$red ;
			font-family: SourceSansPro-Semibold;
    		font-size: 15px;
    		span{
    			color:$blue;
    		}
		}
	}
	.c1{
		background: white;
	    margin-right: 2.5%;
	    width: 47.5%;
	}
	.c2{
		background: white;
	    width: 47.5%;
	    margin-left: 2.5%;
	    height: 100%
	}
	.c3{
	background: white;
    width: 47.5%;
    height: 100%;
    margin: 0 auto;
	}
	.c4{
		background: white;
	    margin: auto;
	    width: 50%;
	}
	.fc-register{
		input{
			padding-left: 14px;
		}
	}
	.pict{
		img{
			top: -3px;
    		position: relative;
		}
	}
	.handl-b{
		font-size: 13px;
	    color: #393F4B;
	    font-family: SourceSansPro-Regular;
	    margin-top: 30px;
	    margin-bottom: 30px;
	    padding-left: 14px;
	    list-style: none;
	    li i{
	    	font-size: 7px;
		    top: -2px;
		    position: relative;
	    }
	}
}

/* login*/

.bg-fr-color::after {
    background: linear-gradient(-159deg, rgba(112, 50, 92, 0.8) 0%, rgba(120, 25, 10, 0.8) 100%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    @media(max-height:723px){
    height: 113%;   
    }
    @media(max-height:635px){
    height: 120%; 
    }    
    @media(max-height:601px){
    height: 150%; 
    }
    @media(max-height:414px){
    height: 180%; 
    }
    @media(max-height:375px){
    height: 200%; 
    }
    @media(max-height:320px){
    height: 250%; 
    }
    }
    .rty{
    @media(max-height:723px){
    height: 113%; 
    }
    @media(max-height:635px){
    height: 120%; 
    }
    @media(max-height:601px){
    height: 150%; 
    }
    @media(max-height:414px){
    height: 180%; 
    }
    @media(max-height:375px){
    height: 200%; 
    }
    @media(max-height:320px){
    height: 250%; 
    }
    }
.section-login{
    position:static;
    background:white;
}
.form-dark .font-small {
    font-size: 0.8rem; }
  
  .form-dark [type="radio"] + label,
  .form-dark [type="checkbox"] + label {
    font-size: 0.8rem; }
  
  .form-dark [type="checkbox"] + label:before {
    top: 2px;
    width: 15px;
    height: 15px; }
  
  .form-dark .md-form label {
    color: #fff; }
  
  .form-dark input[type=text]:focus:not([readonly]) {
    border: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851; }
  
  .form-dark input[type=text]:focus:not([readonly]) + label {
    color: #fff; }
  
  .form-dark input[type=password]:ffocus:not([readonly]) {
    border: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851; }
  
  .form-dark input[type=password]:focus:not([readonly]) + label {
    color: #fff; }
  
  .form-dark input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #fff;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer; }
  
  .form-dark input[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #00c851 #00c851 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }
    .bg-login{
    background: transparent;
    box-shadow: none;
    width: 31rem;
    margin: 0 auto;
    @media(max-width: 414px){
      width: inherit;
    }
    }
    .chl{
    padding-left: 27px;
    }
    .content-rgba{
    background-color: white;
    border-radius: 5px;
    }
    .form-up{
    margin-top: 45px;
    }
    input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search-md], input[type=search], textarea.md-textarea {
    border: 2px solid #f4f3f3;
    border-radius: 4px;
    height: 45px;
    padding-left: 40px;
    width: 100%;
    box-sizing: border-box;
    font-size:0.8rem;
    }
    input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
    border: 2px solid #dadada;
    background: #fcfcfc;
    box-shadow:none;
    }
    .text-logo{
        margin-bottom: 34px;
        h4{
            color: #e83936;
            font-size: 21px;
            font-family: SourceSansPro-Regular;
            letter-spacing: 0.5px;
            margin-top: 25px;

        }
        p{
            color: #a5a6aa;
            font-size: 13px;
            letter-spacing: -0.1px;
        }
    }
    .input-md{
	    label{
	    text-transform: uppercase;
	    font-size: 12px;
	    font-family: SourceSansPro-Semibold;
	    color: #606060;
	    letter-spacing: 0.3px;
	    margin-bottom: .0rem;
	        }
	    .position-relative{
	    	.i-m{
	    		position: absolute;
			    margin-left: 15px;
			    margin-top: 7px;
			    color: #383838;
	    	}
	    	.i-s{
	    		position: absolute;
			    margin-top: 10px;
			    color: #383838;
			    right: 5px;
	    	}
	    }
    }
    .bg-sign{
    background: linear-gradient(-90deg, #e83936, #f94d37);
    box-shadow: none;
    border-radius: 3px;
    font-family: SourceSansPro-Semibold;
    text-transform: initial;
    }
    .forgot-pwd{
    float: right;
    font-size: 14px;
    font-family: SourceSansPro-Semibold;
    color: #606060;
    }
    .mdp-me{
    margin-top: -10px;
    margin-bottom: 24px;
    padding-left: 4px;
    	p{
    		color: #393F4B;
		    font-family: SourceSansPro-Regular;
		    font-size: 14px;
		    text-align: center;
    	}
    }
    .mdp-me-register{
    margin-bottom: 0px;
    }
    .recovery{
    color:#e83936;
    text-transform:capitalize;
    padding-left:4px;
    }
    ::-webkit-input-placeholder { 
      color: #a5a6aa;
    }
    ::-moz-placeholder { 
      color: #a5a6aa;
    }
    :-ms-input-placeholder { 
      color: #a5a6aa;
    }
    :-moz-placeholder { 
      color: #a5a6aa;
    }
    .px-5-edit {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
    }
    .form-cl{
   	text-align: left;
    padding-left: 35px;
    padding-right: 35px;    }
    .bg-sign-cca{
   	background: #e83936;
   	box-shadow: none;
    border-radius: 3px;
    font-family: SourceSansPro-Semibold;
    text-transform: initial;
    }
    button{
    	cursor: pointer;
    }
    #modal-connexion-cca{
    }
/* end login */