$color1: #e55037;
$color2: #393F4B;
$gray: #a7a7a7;

.deal-list-container {
  padding-left: 96px;
  width: 100%;
}

.list-deal-div, table {
  width: 100%;
}

.list-deal-div thead {
  background-color: #ffffff !important;
  border-bottom: 1px solid #f3f3f3;
}
.list-deal-div thead tr td {
  color: #393f4b;
  font-family: SourceSansPro-Semibold;
  text-transform: capitaliz
}
table.table a {
  color: #0275d8;
}