.nav-tel {
    margin-top: -52px;
    background: #808080c7 !important;
}
@media (max-width: 767px){
.ns {
    display: block !important;
    margin-left: 18px !important;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    }
}