<nav class="navbar navbar-expand-sm nav-tel">
  <ul class="navbar-nav ns vs">
    <li class="nav-item">
<a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/administration-in','desk', 'invited-organisation']">Accepted organizations</a>
    </li>
    <li class="nav-item">
<a class="nav-link" routerLinkActive="active" [routerLink]="['/administration-in','desk', 'invited-organisation','invitations-sent']">Invited organizations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/administration-in','desk', 'invited-organisation','invitations-organisation']">Insert organizations </a>
    </li>
  </ul>
</nav>
<main class="collaboration-container">
  <div class="ml-16">
    <router-outlet></router-outlet>
  </div>
</main>
