<!-- <div class="nav-deal-space">
  <ul class="ul-deal-menu">
    <li class="nav-item-deal">
        <a class="nav-link-deal" routerLinkActive="active" [routerLink]="['/administration-in','collaborations','deal-space','list']">Your spaces</a>
    </li>
    <li class="nav-item-deal">
        <a class="nav-link-deal" routerLinkActive="active" [routerLink]="['/administration-in','collaborations','deal-space','historical']">Historical</a>
    </li>
  </ul>
</div> -->
<main class="deal-space-container">
    <div class="ml-16">
        <router-outlet>
        </router-outlet>
    </div>
</main>
